

body{
    background-color: #59a8ee;
}

h1{
    text-align: center;
}

img{
    width: 100px;
}

.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: crimson;
}

a:hover{
    color: darkorange;
}